/* .App { */
/*   text-align: center; */
/* } */

/* .App-logo { */
/*   height: 40vmin; */
/*   pointer-events: none; */
/* } */

/* @media (prefers-reduced-motion: no-preference) { */
/*   .App-logo { */
/*     animation: App-logo-spin infinite 20s linear; */
/*   } */
/* } */

/* .App-header { */
/*   background-color: #282c34; */
/*   min-height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: white; */
/* } */

/* .App-link { */
/*   color: #61dafb; */
/* } */

/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */
/* #container{ */
/*     overflow: auto; */
/*     height: 100%; */
/*     min-height:50%; */
/*     display: flex; */
/*     justify-content: space-evenly; */
/*     font-family: 'Roboto', sans-serif; */
/*     text-align: center; */
/*     font-weight: lighter; */
/*     border: 4px solid black; */
/* } */
/* #inputter{ */
/*     min-width:50%; */
/*     float: left; */
/*     border: inherit; */
/* } */

/* #displayer{ */
/*     border: inherit; */
/*     min-width:50%; */
/*     float: right; */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content:space-between; */
/*     p { */
/*         overflow: auto; */
/*         height: 50%; */
/*     } */
/* } */
/* .highlight{ */
/*     background-color:#FFFF00; */
/* } */
/* textarea{ */
/*     height: 100%; */
/*     width: 100%; */
/*     justify-text:center; */
/*     border: inherit; */


/* } */
/* #wordlist{ */
/*     text-align: left; */
/*     height:50%; */
/*     overflow:auto; */
/*     border: inherit; */
/*     li{ */
/*         margin: 1em; */
/*     } */
/*     input{ */
/*         height:1em; */
/*     } */
/* } */

/* .header{ */
/*     display:inline; */
/*     margin-top:-50px; */
/*     text-align:left; */
/* } */
/* #outer{ */


/* } */
